@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&family=Sunflower:wght@300&display=swap');

*{
    padding: 0; margin: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'Noto Sans KR', sans-serif;
}

/* header */

header{
    width: 100%; height: 80px;
    border-bottom: 1px solid #ededed;
    box-sizing: border-box;
}

header > .inner_wrap{
    display: flex;
    width: 1280px; height: 100%;
    margin: 0 auto;
}

header > .inner_wrap > .logo,
header > .inner_wrap > .logo > img{
width: 160px; height: 100%;
}

header > .inner_wrap > .nav{
    display: flex;
    width: 840px; height: 100%;
    margin: auto 20px;
    box-sizing: border-box;
    line-height: 80px;
}

header > .inner_wrap > .nav > li{
    width: 200px;
    text-align: center;
}

header > .inner_wrap > .nav > li > a{
    font-size: 18px;
    font-weight: bolder;
}

header > .inner_wrap > .side{
    /* display: flex; */
    width: calc(1280px - 1000px);
    margin: auto 0;
}

header > .inner_wrap > .side > .sub_menu{
    /* flex: left; */
    float: left;
    width: 190px; height: 30px;
    text-align: center;
    line-height: 25px;
    margin-left: 30px;
    border: 2px solid navy;
    border-radius: 3px;
    color: navy;
    box-sizing: border-box;
    font-size: 14px; font-weight: normal;
    cursor: pointer;
}

header > .inner_wrap > .side > .search{
    float: right;
    width: 50px; height: 30px;
    line-height: 30px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

/* main_text0 */

.main_text0{
    width: 100%; height: 480px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.main_text0 > .title{
    width: 100%; height: 80px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.main_text0 > .title > h2{
    font-size: 36px;
    font-weight: bold;
}

.main_text0 > .title > p{
    font-size: 18px;
    color: #666;
    padding-top: 10px;
    box-sizing: border-box;
}

.main_text0 > .kospi_kosdaq{
    display: flex;
    width: 800px; height: 190px;
    margin: 0 auto;
}

.main_text0 > .kospi_kosdaq > li{
    border-radius: 10px;
    padding: 40px 30px;
    box-sizing: border-box;
}

.main_text0 > .kospi_kosdaq > li:first-child{
    flex: 1;
    width: 390px; height: 100%;
    margin-right: 30px;
    background-color: #5AAEFF;
}

.main_text0 > .kospi_kosdaq > li:last-child{
    flex: 1;
    background-color: #2F7AF4;
}

.main_text0 > .kospi_kosdaq > li img{
    width: 30px; height: 30px;
    margin-top: 50px;
}

.main_text0 h4{
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
}

.main_text0 > .page_ctrl{
    width: 110px; height: 30px;

    position: absolute;
    bottom: 20px; right: 50%;
    margin-right: -50px;
}

.main_text0 > .page_ctrl > .stop{
    float: left;
    width: 30px; height: 30px;
    border-radius: 20px;
    background-color: #AAAAAA;
    font-size: 10px;
    text-align: center;
    line-height: 26px;
    font-weight: bolder;
    margin-right: 10px;
    color: #fff;
    cursor: pointer;
}

.main_text0 > .page_ctrl > .pages{
    float: right;
    width: 70px; height: 30px;
    border-radius: 30px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    background-color: #AAAAAA;
}

.main_text0 > .page_prev{
    position: absolute;
    bottom: 170px; left: 70px;
    opacity: 0.5;
    cursor: pointer;
}

.main_text0 > .page_next{
    position: absolute;
    bottom: 170px; right: 70px;
    opacity: 0.5;
    cursor: pointer;
}

/* search_area */

.search_area{
    width: 800px; height: 80px;
    margin: 40px auto;
    border-radius: 10px;
    background-color: #D6F0FF;
}

.search_area > input{
    width: 90%; height: 100%;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    font-size: 20px;
    background-color: #D6F0FF;
}

.search_area > .search_icon{
    float: right;
    width: 10%; height: 100%;
    border-radius: 10px;
    background-color: #3669CF;
}

.search_area > .search_icon > img{
    display: block;
    width: 50px; height: 50px;
    margin: 15px auto;
}